<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="EXCLUSIVE"
    gameTipe="DISC PS5" gamePrice="R$ 261,99"
  ></app-card>
  <app-card gameCover="assets/bt-4.jpg" gameLabel="TEM"
    gameTipe="DIGITAL PS4" gamePrice="R$ 499,00"
  ></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="EXCLUIDO"
    gameTipe="DISC PS3" gamePrice="R$ 2,00"
  ></app-card>
  <app-card gameCover="assets/ac-cover.jpg" gameLabel="BEST OF YEAR"
    gameTipe="DIGITAL PS4" gamePrice="R$ 59,00"
  ></app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="3 GOLD"
    gameTipe="NULL PS6" gamePrice="R$ 19999,00"
  ></app-card>
  <app-card gameCover="assets/bt-5.jpg" gameLabel=""
    gameTipe="DISC PS1" gamePrice="R$ 19,99"
  ></app-card>

</div>
