<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png" width="140px" height="32px" alt="logo" srcset="">
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.youtube.com/channel/UC2eyorQ89tIZVoFn3FYeH2Q" target="_blank">YouTube</a></li>
      <li><a href="https://www.linkedin.com/in/silvarochawesley/" target="_blank">LinkeIn</a></li>
      <li><a href="https://github.com/jogres" target="_blank">GitHub</a></li>
    </ul>
  </div>
</div>
